body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 0!important;
  padding: 1em 0 0 3.15em;

  &:before {
    color: #ccc;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
  }

  & + blockquote {
    &:before {
      display: none;
    }
  }

  &:last-of-type {
    margin-bottom: 1em!important;
    padding-bottom: 1em;
  }

  p {
    display: inline;
  }
}

